@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
.card {
    background-color: #FFC0CB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

/* styles.css */

.bg-image {
    background-image: url('public/img/clube.jpeg');
    background-size: cover;
    background-position: center;
  }

  .box{
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    color: #070000;
    font-family: 'Roboto', sans-serif;
}

.all-box{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.left{
    width: 250px;
    background: grey;
    height: 250px;
    border-radius: 5px;
}

.right{
   width: 40%;
    height: 80%;
    background:pink;
    border-radius: 5px;
   
    margin-left: -30px;
    padding: 12px;
    letter-spacing: .1em;
    line-height: 22px;
    padding-bottom: 20px;
}

.outer-box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.b-card {
    width: 400px;
    height: 280px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

@media screen and (min-width: 992px) and (max-width: 1180px){
.b-container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 200px);
    grid-row-gap: 6rem;
    /* justify-content: space-around; */
}
}
.b-container {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

@media (max-width: 1024px){
.b-infos {
    top: 130px;
}
}
.b-infos {
    width: 380px;
    color:black;
    background-color:pink;
    position: absolute;
    top: 210px;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.4s ease;
    z-index: 1;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 44%);
}

.b-card img {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    transition: all 0.4s ease;
    z-index: 0;
}

.b-text {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.text-center {
    text-align: center!important;
}
  